header {
  background-color: aqua;
  padding: 2em;
}
h1 {
  text-align: center;
  font-size: 3em;
}

.container {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-left: 25%;
  padding: 1em;
  width: 50%;
  border-radius: 0.5em;
  box-shadow: 0 2em 4em black 0.2;
}

.main {
  /* border: 1px solid black; */
  background-color: lightcyan;
  margin-top: -2em;
}

input {
  width: 100%;
  height: 2em;
  margin: 0.5em;
}

.item {
  background-color: lightskyblue;
  width: 80%;
  border-radius: 0.5em;
  box-shadow: 0 2em 4em black 0.2;
  margin: 1.5em;
  padding: 0.25em;
  border: 1px solid black;
}

.line {
  margin: 0.25em;
}

button {
  margin: 0.25em 0.25em 0 0.25em;
  font-size: 1em;
  box-shadow: 0 2em 4em black 0.2;
}

.tags {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.clicked {
  background-color: darkgray;
}

.list-container {
  margin-left: 25%;
  width: 50%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
